Name - Neha Yadav

Task- Spam Detection with machine learning

Language-python

IDE-Jupyter Notebook

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
d=pd.read_csv("spam.csv",encoding="latin1")
d

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [4]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 108.9+ KB

In [5]:
d.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [6]:
d.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""",GE,"GNT:-)"""
freq,4825,30,3,2,2

In [9]:
del d['Unnamed: 2']
del d['Unnamed: 3']
del d['Unnamed: 4']

In [12]:
d.rename(columns={'v1':'category','v2':'Message'},inplace=True)

In [14]:
spam=d.groupby('category')['Message'].count()
spam

category
ham     4825
spam     747
Name: Message, dtype: int64

In [15]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
d['spam']=label_encoder.fit_transform(d['category'])
d.head()

  category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [16]:
x=d['Message']
y=d['spam']

In [31]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.3,random_state=40)

In [32]:
from sklearn.feature_extraction.text import CountVectorizer
C=CountVectorizer()

In [33]:
#here we will convert Email into number matrix

train_x_Count=C.fit_transform(x_train.values)
train_x_Count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [34]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()

In [37]:
model.fit(train_x_Count,train_y)

MultinomialNB()

In [46]:
emails=[
    'Hey Neha,can we go to shopping tomorrow?',
    'Upto 50% discount on each top,exclusive offer.we should not miss this reward!'
]
emails_Count=v.transform(emails)
model.predict(emails_Count)

array([0, 1])

In [47]:
test_x_Count=v.transform(test_x)
model.predict(test_x_Count)

array([0, 1, 0, ..., 0, 1, 0])

In [49]:
model.score(test_x_Count,test_y)

0.986244019138756

In [50]:
pr=model.predict(test_x_Count)

In [54]:
from sklearn.metrics import confusion_matrix,classification_report

cm=confusion_matrix(test_y,pr)
cm

array([[1451,    6],
       [  17,  198]], dtype=int64)

In [59]:
from sklearn.pipeline import Pipeline

clf = Pipeline([
    ('Vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [60]:
clf.fit(train_x,train_y)

Pipeline(steps=[('Vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [61]:
clf.score(test_x,test_y)

0.986244019138756

In [62]:
pr2=clf.predict(test_x)

In [63]:
cm2=confusion_matrix(test_y,pr2)
cm2

array([[1451,    6],
       [  17,  198]], dtype=int64)